<!DOCTYPE html>
<html lang="ko">

<head>
  <title>{% block title %} Django Web Programming {% endblock %}</title>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

</head>

<body>
  <div id="header">
    <h2 class="maintitle">Easy&amp;Fast Django Web Programming</h2>
    <h4 class="welcome">
      Welcome,
      <a href="#"> shkim </a>
      <a href="#"> Change Password </a>
      <a href="#"> Logout </a>
    </h4>
  </div>

  <div id="menu">
    <li> <a href="#">Home</a> </li>
    <li> <a href="#">Bookmark</a> </li>
    <li> <a href="#">Blog</a> </li>
    <li> <a href="#">Photo</a> </li>
    <li> <a href="#">Add&bigtriangledown;</a>
      <ul>
        <li> <a href="#">Bookmark</a> </li>
        <li> <a href="#">Blog</a> </li>
        <li> <a href="#">Photo</a> </li>
      </ul>
    </li>
    <li> <a href="#">Change&bigtriangledown;</a>
      <ul>
        <li> <a href="#">Bookmark</a> </li>
        <li> <a href="#">Blog</a> </li>
        <li> <a href="#">Photo</a> </li>
      </ul>
    </li>
    <li> <a href="#">Archive</a> </li>
    <li> <a href="#">Search</a> </li>
    <li> <a href="#">Admin</a> </li>
  </div>

  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>
